.container {
    /* background-color: red; */
    width : 400px;
    margin: 0 auto;
}

.app-title {
    background-color: aqua;
    font-family     : 'Courier New', Courier, monospace;
    font-size       : larger;
}

.btn {
    margin-top      : 20px;
    padding         : 10px 20px;
    background-color: black;
    color           : white;
    cursor          : pointer;
}